.container {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 64px 1fr;
  transition: grid-template-columns 0.2s ease;
}

.closeSideBar {
  grid-template-columns: 56px 1fr;
}

.openSideBar {
  grid-template-columns: 215px 1fr;
}

.nav {
  grid-area: n;
  border-right: 1px solid var(--gray-100-opacity);
}

.header {
  grid-area: h;
}

.app {
  background-color: var(--gray-900);
  grid-area: c;
}

@media (max-width: 1024px) {
  .container {
    grid-template-areas:
      "h h"
      "n c";
    grid-template-columns: 0px 1fr;
  }
}