@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-white: #fff;
  --color-green-dark: #274c5b;
  --color-green-medium: #7eb693;
  --color-green-light: #eff6f1;
  --color-yellow: #efd372;
  --color-gray-dark: #525c60;
  --color-gray-medium: #d4d4d4;
  --color-gray-light: #f9f8f8;
}

* {
  font-family: var(--font-roboto);
  color: var(--grey-dark);
  background: var(--white);
}
