@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
  --color-primary: #ffffff;
  --color-secondary: #111827;
  --color-accent: #2563eb;
  --color-danger: #dc2626;
  
  --gray-lightest: #f9fafb;
  --gray-light: #e5e7eb;
  --gray-medium: #9ca3af;
  --gray-dark: #4b5563;
  --gray-darkest: #1f2937;
  
  --opacity-light: rgba(249, 250, 251, 0.1);
  --opacity-medium: rgba(229, 231, 235, 0.1);
}

.dark {
  --color-primary: #000000;
  --color-secondary: #f9fafb;
  --color-accent: #2563eb;
  --color-danger: #dc2626;
  
  --gray-lightest: #111827;
  --gray-light: #374151;
  --gray-medium: #6b7280;
  --gray-dark: #e5e7eb;
  --gray-darkest: #f3f4f6;
  
  --opacity-light: #f3f3f3;
  --opacity-medium: #e5e7eb;
}

body {
  background-color: var(--gray-darkest);
}

* {
  font-family: var(--font-roboto);
  color: var(--color-primary);
}